<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ezform.mapper.bd_Mapper">
	
	<!-- db 최대값  -->
	<select id="boardnumCnt" resultType="String">
	select max(cm_bnum) from ez_cm
	</select>

	<!-- 게시판 글쓰기 -->
	<insert id="create">
	insert into ez_cm(cm_id,cm_bnum,cm_title,cm_content) 
	values(#{cm_id},#{cm_bnum},#{cm_title},#{cm_content})
	</insert>

	<!-- 게시판 글조회(특정글) -->
	<select id="read" resultType="com.ezform.domain.EZ_boardVO">
		select cm_bnum,	
			   cm_title, 
			   cm_name, 
			   cm_content, 
			   cm_hits  
			   from ez_cm
			   where cm_bnum = #{cm_bnum}
	</select>

	<!-- 게시판 글수정(특정글) -->
	<update id="update">
	update ez_cm set cm_title = #{cm_title}, cm_content = #{cm_content} ,cm_bnum=#{cm_bnum}
	where cm_bnum = #{cm_bnum)
	</update>

	<!-- 게시판 글수정(글제목,이름,내용) -->
	<update id="modify">
	update ez_cm set cm_title=#{cm_title}, cm_name=#{cm_name}, cm_content=#{cm_content} 
	where cm_bnum = #{cm_bnum} 
	</update>

	<!-- 게시판 글삭제 -->
	<delete id="delete">
	delete from ez_cm 
	where cm_bnum = #{cm_bnum}
	</delete>

 	<!-- 페이징 처리 list -->
 	<select id="listCri" resultType="EZ_boardVO">
	select * from ez_cm 
	order by cm_bnum desc, cm_regdate desc 
	limit #{page},#{pageSize}
 	</select>
 
  	<!-- 페이징 테스트 -->
 	<select id="listPageCnt" resultType="int">
 		select count(*) from ez_cm 
 		where cm_name=#{cm_name} 
 	</select> 
 	
 	<!-- 게시판 조회수 -->
 	<!-- <update id="boardHits" parameterType="int">
 	update ez_cm set 
 	cm_hits = cm_hits+1 
 	where cm_bnum = #{cm_bnum}
 	</update> -->
 </mapper>
