<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ezform.mapper.bd_Mapper">
	
	<!-- db 최대값  -->
	<select id="boardnumCnt" resultType="String">
		select max(cm_bnum) from ez_cm
	</select>

	<!-- 게시판 글쓰기 -->
	<insert id="create">
		insert into ez_cm values (#{cm_bnum}, #{cm_id}, #{cm_title}, #{cm_dname}, 
		#{cm_name}, now(), #{cm_content}, 0, 0, #{cm_file})
	</insert>

	<!-- 게시판 글조회 -->
	<select id="read" resultType="com.ezform.domain.EZ_boardVO">
		select cm_bnum,	
			   cm_title, 
			   cm_name, 
			   cm_content,
			   cm_hits, 
			   cm_file,
			   cm_like 
			   from ez_cm
			   where cm_bnum = #{cm_bnum}
	</select>
	
	<!-- 게시판 글조회1 -->
	<select id="read1">
		select cm_bnum,	
			   cm_title, 
			   cm_name, 
			   cm_content, 
			   cm_file,
			   cm_like 
			   from ez_cm
			   where cm_bnum = #{cm_bnum}
	</select>

	<!-- 게시판 글수정 -->
	<update id="modify">
		update ez_cm set cm_title=#{cm_title}, cm_content=#{cm_content}, cm_file=#{cm_file}, like=#{like}  
		where cm_bnum=#{cm_bnum}
	</update>
	
	<!-- 게시판 글삭제 -->
	<delete id="delete">
		delete from ez_cm 
		where cm_bnum = #{cm_bnum}
	</delete>

 	<!-- 페이징 처리 list -->
 	<select id="listCri" resultType="EZ_boardVO">
		select * from ez_cm 
		order by cm_bnum desc, cm_regdate desc 
		limit #{page},#{pageSize}
 	</select>
 
  	<!-- 페이징 테스트 -->
 	<select id="listPageCnt" resultType="int">
 		select count(*) from ez_cm
 	</select> 
 	
 	<!-- 게시판 조회수 -->
	<update id="hits" parameterType="int">
		update ez_cm set cm_hits=cm_hits+1 
		where cm_bnum=#{cm_bnum}
	</update>
	
	<!-- 좋아요 -->
	<update id="like" parameterType="int">
		update ez_cm set cm_like=cm_like+1 
		where cm_bnum=#{cm_bnum}
	</update>
	
	<!-- 좋아요 취소 -->
	<update id="unlike" parameterType="int">
		update ez_cm set cm_like=cm_like-1 
		where cm_bnum=#{cm_bnum}
	</update>
	

 </mapper>
